<div class="items-center justify-between hidden w-full md:flex md:w-auto md:space-x-6" id="navbar-search">
    <div class="relative mt-3 md:hidden">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
        </div>
        <input type="text" id="search-navbar" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="search for a collection...">
    </div>
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-300 md:dark:bg-gray-300 dark:border-gray-400">
        <li class="m-1">
            <a href="<%= urls.collections.popularCollectionsPage() %>" class="navbar-mobile-button dark">
                Popular Collections
            </a>
        </li>
        <li class="m-1">
            <a href="#" class="navbar-mobile-button dark" onclick="logout()">
                Logout
            </a>
        </li>
    </ul>
</div>

<style>
    .navbar-mobile-button {
        display: block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: #1a202c;
        border-radius: 9999px;
        transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 200ms;
    }

    .navbar-mobile-button:hover {
        background-color: #f7fafc;
    }

    .navbar-mobile-button.md:hover {
        background-color: transparent;
        color: #4c51bf;
        padding: 0;
    }

    .navbar-mobile-button.md.dark:hover {
        color: #4299e1;
        background-color: transparent;
    }

    .navbar-mobile-button.dark {
        color: #1a202c;
        border-color: #4a5568;
    }

    .navbar-mobile-button.dark:hover {
        background-color: #4a5568;
        color: #fff;
    }
</style>

