<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <%- include("-global-dependencies.ejs", locals) %>
    <%- include("authentication/-dependencies.ejs", locals) %>
    <script>

    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form id="submit-form"
      action="<%= urls.authentication.login_post() %>"
      method="post" class="w-full h-full">
    <div class="flex justify-center items-center flex-col
                h-screen w-full h-full">
        <div class="grid grid-table">
            <span>Username: </span>
            <input name="username" class="text-input" type="text">

            <span>Password: </span>
            <input name="password" class="text-input" type="password">

            <span class="dont-have-acc hyperlink" style="grid-column: 1/3;">
                <a href="<%= urls.authentication.register_page() %>">Click here</a> to register
            </span>

            <div class="flex items-center justify-end mt-4 mb-0" style="grid-column: 1/3;">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full">
                    Login
                </button>
            </div>
        </div>
    </div>
</form>


</body>
</html>