<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <%- include("-global-dependencies.ejs", locals) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include("-navbar.ejs", locals) %>
    <div class="container">
        <h1>Hi, I am Tara</h1>
        <h2>Welcome to my Blog</h2>
    </div>
    <%- include("-footer.ejs", locals) %>
</body>
</html>