<!-- Main modal -->
<div id="reportModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="reportModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Report</h3>
                    <div>
                        <textarea id="reasonTextArea" placeholder="Reason" class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500" required></textarea>
                    </div>
                    <div class="pt-5 flex items-center flex-row-reverse border-gray-200 rounded-b dark:border-gray-600" onclick="submitForm()">
						<button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
							Report
						</button>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Alert modal -->
<div id="alertModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full h-screen flex items-center justify-center">
    <div class="relative max-w-md mx-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-900">
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Alert</h3>
                <div class="modal-body text-white"></div>
                <div class="pt-5 flex items-center flex-row-reverse border-gray-200 rounded-b dark:border-gray-600">
                    <button type="button" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800" onclick="hideAlertModal()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  let _collectionId = `<%= req.query.id ?? -1 %>`;
    function submitForm() {
      if (_collectionId === '-1') {
        window.location.href = "/";
      } else {
        $(document).ready(async function () {
          const sendReportCollectionsUrl = "<%- urls.collection_interactions_orchestration.reportedCollectionsGetCollections() %>";
          let reason = document.getElementById("reasonTextArea").value;

          let response = await post(sendReportCollectionsUrl, {
            reason: reason,
            collectionId: _collectionId
          });

          if (response.validationFail != null) {
              let reason = response.validationFail.reason;
              console.log(reason);
              if (reason.error_code === 'CannotReportSelfException')
                  showAlert(`FAILED! You cannot report your own collection.`)
              else if (reason.error_code === 'CollectionAlreadyReportedException')
                  showAlert(`FAILED! This collection with ID ${response.validationFail.reason.collectionId} is already reported.`);
              else
                  showAlert(`FAILED! ${reason.error_code}`);
          } else {
            showAlert('SUCCESS! Your report has been sent to the admins for review.');
            window.location.href = "/collections/collection-details.html?id=" + _collectionId; // Update the URL with the _collectionId
          }

          return false;
        });
      }
    }


    function showAlert(message) {
        $(document).ready(function () {
            $("#alertModal .modal-body").html(message);
            $("#alertModal").removeClass("hidden");
        });
    }

    function hideAlertModal() {
        $(document).ready(function () {
            $("#alertModal").addClass("hidden");

        });
    }
</script>

